@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
 
 .navbar-default {
 background-color: teal;
 border-color: #E7E7E7;
 }
 .navbar-default .navbar-nav > li > a {
 color: white;
 }
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 background-color: #00897b;
 color: white;
 }
 body > nav > div{
 background-color: #009688;
 }
 body{
 font-family:'Raleway', sans-serif;
 }
 .selectize-input {border-radius:0px;
 background-color: rgba(236, 240, 241,0) !important;
 border-width:1px;
 
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom-color: #546e7a;
 border-radius: 0;}
 
 .selectize-input.dropdown-active {border-radius:0px;
 background-color: rgba(236, 240, 241,0);
 border-width:1px;
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom-color: #546e7a;
 border-radius: 0}
 .selectize-dropdown {border-radius:0px;
 background-color: rgba(236, 240, 241,0);
 border-width:1px;
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom-color: #546e7a;
 border-radius: 0}



body > nav{
	background-color:#009688;
}
.card-action {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
height:50px;
text-align:center;
}
.card-action:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and (max-width : 500px) {
img{
width:100%;
min-width:100%;
}
}

#run{
animation-duration:2s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-o-animation-duration:.2s;
-ms-animation-duration:.2s;
border-radius: 0px;
}
#run1{
animation-duration:2s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-o-animation-duration:.2s;
-ms-animation-duration:.2s;
}
.pulse{
animation-duration:2s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-o-animation-duration:.2s;
-ms-animation-duration:.2s;
}
#close-button{
animation-duration:2s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
-o-animation-duration:.2s;
-ms-animation-duration:.2s;
}
.modal-content{
background: none;
border: none;
box-shadow: none;
}
.modal-header{
border:none;
}
.modal .close{
color:white;
}
.modal-body{
display:none;
}
.modal-footer{
display:none;
}

#prefix_final{
font-size: 6vh; text-align:center;
}
#prediction_final{
font-size: 6vh; text-align:center;
}
#sidebar{background-color: rgba(236, 240, 241,0.4);}
form-group label{}
.form-group{color: #90a4ae ;text-transform:uppercase;font-size:10pt;}
#Age,#founding_year{background-color: rgba(236, 240, 241,0);
border-width:1px;

border-top: none;
border-right: none;
border-left: none;
border-bottom-color: #546e7a;
border-radius: 0}